<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  </head>

  <style>
    body {
      margin: 0;
      font-family: 'Karla', sans-serif;
      text-align: center;
    }

    header {
      border-top: 20px solid #F37DB2;
      box-shadow: 0 0.125rem 0.625rem 0 rgba(0,0,0,.08);
      padding: 2rem;
      display: flex;
      font-size: 1.5rem;
    }

    nav {
      padding-left: 1rem;
      text-align: left;
    }

    nav a {
      padding: 0 2rem;
      color: black;
      text-decoration: none;
      font-weight: bold;
    }

    main {
      max-width: 900px;
      margin: 0 auto 4rem;
    }

    h1 {
      font-size: 3.5rem;
    }

    .tip {
      font-weight: bold;
      font-size: 1.3rem;
    }

    li {
      text-align: left;
    }

    li a {
      color: black;
    }

    hr {
      margin: 2.5rem 0;
      border-top: 1px solid #F37DB2;
    }
  </style>

  <body>
    <header>
      😄
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
      </nav>
    </header>
    {{ content | safe }}
  </body>
</html>