---
title: "About this site"
layout: base.njk
---

<main>
    <h1>About</h1>
    <h2>Why did you build this site and what do you hope to achieve from it?</h2>
    <p>I've heard a lot about these Jamstack sites recently, seems they are the next big thing!</p>
    <p>I learn better when I code so thought it would be wise to jump into some code and see what the fuss is all about.</p>
    <hr>
    <h2>What have you learned so far about Jamstack?</h2>
    <ul>
        <li>Jamstack sites run without a server (CDNs aside!) and really leverages the power of the browser 💪</li>
        <li>Delivery and deployment are simplified in comparison to the traditional way of architecting a site 🛠️</li>
        <li>You can use version control to deploy changes e.g. trigger deployments when you push to master ‎‍💾</li>
        <li>There's security benefits by having a reduced surface area relating to infrastructure, minimising weak spots 🛡️</li>
        <li>It's performant due to pre-rendering, caching assets and serving via a CDN which improves website performance ‎‍💻</li>
        <li>Better equipped to scale as by default CDNs are designed to handle high loads 🚦</li>
    </ul>
</main>