---
title: "About this site"
layout: base.njk
---

<main>
    <h1>About</h1>
    <p>Although this is a Jamstack site, I'm fetching weather and news data via serverless Lambda functions in order to get up-to-date info. 
        With Netlify I was able to deploy these functions without having an AWS account, luckily it handles this for you when it builds and deploys your site.</p>
    <hr>
    <h2>What have you learned so far about Jamstack?</h2>
    <ul>
        <li>Jamstack sites run without a server (CDNs aside!) and really letverages the power of the browser 💪</li>
        <li>Delivery and deployment are simplified in comparison to the traditional way of architecting a site 🛠️</li>
        <li>You can use version control to deploy changes e.g. trigger deployments when you push to master ‎‍💾</li>
        <li>There's security benefits by having a reduced surface area relating to infrastructure, minimising weak spots 🛡️</li>
        <li>It's performant due to pre-rendering, caching assets and serving via a CDN which improves website performance ‎‍💻</li>
        <li>Better equipped to scale as by default CDNs are designed to handle high loads 🚦</li>
    </ul>
</main>