---
title: "Home"
layout: base.njk
---

<div>
  <h1>Welcome</h1>
  <p class="tips"></p>
  <ul>
    {% for article in news.articles %}
      <li>
        <a href="{{ article.url }}">{{ article.title }}</a>
        <span>Published <time>{{ article.publishedAt }}</time></span>
      </li>
    {% endfor %}
  </ul>
</div>

<script src="/js/tip.js"></script>